.blog {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 24px 32px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.content {
  width: 100%;
}

.text {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #444;
  text-align: justify; // căn đều 2 bên cho đoạn văn
}

.text strong {
  font-size: 2rem;
  color: #000;
}
.footer {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 550;
  text-align: center;
}
