.modal,
.overlay {
  position: fixed;
  inset: 0;
}
.modal {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnClose {
  z-index: 1;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(215, 96, 22);
  transition: all 0.4s ease;
  &:hover {
    color: #fff;
    background: rgb(215, 96, 22);
  }
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
}

.custom-overlay {
  background: rgb(52 51 50 / 0%);
  backdrop-filter: blur(8px);
  animation: fadeIn 0.3s ease forwards;
}

.hiddenModal {
  animation: zoomOut 0.3s ease forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  to {
    transform: scale(0.7) translateY(-20px);
    opacity: 0;
  }
}
.hiddenOverlay {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
  from {
    background: rgb(52 51 50 / 60%);
  }
  to {
    background: rgb(52 51 50 / 0%);
  }
}

.modal-open {
  overflow-y: hidden;
}
