.Wrapper {
  position: relative;
}
.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: linear-gradient(180deg, #ffd900, #b45264 93.68%);
  border-radius: 50%;
  cursor: pointer;
}
.avatar {
  width: 29px;
  height: 29px;
  object-fit: cover;
  border-radius: 50%;
}
.crown {
  position: absolute;
  top: -2px;
  right: -6px;
}
.result {
  position: absolute;
  top: 38px;
  right: 0;
  min-width: 230px;
}
.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}
hr {
  margin: 8px 0;

  border: solid 1px rgba(0, 0, 0, 0.05);
}
.info {
  flex: 1;
}
.name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #292929;
}
.userName {
  font-size: 1.4rem;
  color: #757575;
}
.content:last-child hr {
  border: none;
}
.linkItem {
  font-size: 1.4rem;
  color: #666;
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    color: #333;
  }
}
